<h1>Angular App</h1>
<app-navbar [message]="message"></app-navbar>

<h2>{{ child }}</h2>

<input
  type="text"
  class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
  placeholder="This is placeholder"
  (keyup)="onHandle($event)"
/>

<input
  type="text"
  class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
  placeholder="Username"
  (keyup)="getUserName(userName.value)"
  #userName
/>

<input
  type="text"
  class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
  placeholder="DataBinding"
  [value]="dataBinding"
  [(ngModel)]="dataBinding"
  (keyup)="getDataBinded()"
/>

<h1>{{ dataBinding }}</h1>

<!-- structure directive ngFor-->
<!-- *ngIf directive-->
<div
  *ngIf="names.length > 0; then postList; else noData"
  style="background-color: brown"
></div>
<ng-template #postList>
  <ul style="background-color: red;">
    <li *ngFor="let name of names; let i = index">{{ name + " " + i }}</li>
  </ul>
</ng-template>
<!-- <div *ngIf="names.length === 0">There is no data...</div> -->
<ng-template #noData>There is no data...</ng-template>

<!--*ngSwitch directive-->
<div>
  <button (click)="onClick('step 1')">step 1</button>
  <button (click)="onClick('step 2')">step 2</button>
  <button (click)="onClick('step 3')">step 3</button>
</div>

<div [ngSwitch]="stepForm">
  <div *ngSwitchCase="'step 1'">Step 1</div>
  <div *ngSwitchCase="'step 2'">Step 2</div>
  <div *ngSwitchCase="'step 3'">Step 3</div>
  <div *ngSwitchDefault>Something else</div>
</div>

<h1>pipes</h1>
<p>{{ admin | uppercase }}</p>
<p>{{ admin | lowercase }}</p>
