<p [class.text-red]="isRed">post works!</p>
<!--class binding-->
<p
  [style.backgroundColor]="isRed ? 'red' : 'blue'"
  [style.color]="isRed ? 'blue' : 'red'"
>
  Style binding
</p>
<!--style binding-->

<h3>{{ postTitle }}</h3>

<button (click)="sendMessage()">Send message</button>

<!-- <img src="{{ imageUrl }}" /> -->
<!-- string interpolation : used inside tag-->

<!-- <img [src]="imageUrl" /> -->
<!-- property binding : use to bind properties of tags-->

<button
  (click)="buttonClick()"
  type="button"
  class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
>
  Event button
</button>

<h1
  [ngStyle]="{
    color: isRed ? 'blue' : 'red',
    backgroundColor: isRed ? 'red' : 'blue'
  }"
>
  using ngStyle directiry
</h1>

<h1
  [ngClass]="{
    'text-red': false,
    'bg-blue': true
  }"
>
  using ngClass directive
</h1>

<button (click)="addPost()">Add POST</button>

<ul style="background-color: aquamarine;">
  <li *ngFor="let post of posts">
    {{post.title}}
  </li>
</ul>

<!-- <form #formVar="ngForm" (ngSubmit)="submitForm(formVar)">
  <input name="name" placeholder="name" ngModel #name="ngModel" (change)="getValue(name)"/>
  <input name="email" placeholder="email" ngModel/>
  <input name="password" placeholder="password" ngModel/>
  <button type="submit">submit</button>
</form> -->

<h1>Reactive form</h1>

<form [formGroup]="form">
  <input name="name" placeholder="name" formControlName="name">
  <div *ngIf="name.errors?.required">
    name is required
  </div>
  <div *ngIf="name.errors?.minlength">
    name min 5 chars
  </div>
  <input name="email" placeholder="email" formControlName="email"/>
  <input name="password" placeholder="password" formControlName="password"/>
  <button type="submit">submit</button>
</form>